
.suresh{
    display: grid;
    width: 1100px;
    height: 100%;
    gap: 5rem;
    grid-template-columns: 200px 120px 320px;
    grid-template-rows: 250px;
    padding: 50px;
}

#siri{
    width: 350px;

}
p{
    padding: 5px;
}